<app-header></app-header>
<div class="top">
    <aside class="left">
        <nav>
            <ul>
                <li routerLink="/edit-profile"><mat-icon>settings</mat-icon>setting</li>
                <li (click)="logout()"><mat-icon>logout</mat-icon>log out</li>
            </ul>
        </nav>
    </aside>
    <div class="maincontainer">
        <div class="landing">
            <div class="container">
                <div class="img">
                    <img src="{{name.logo}}" alt="">
                </div>
                <div class="details">
                    <h1>{{name.name}}</h1>
                    <p>{{name.description}}</p>
                    <span> <mat-icon>mail</mat-icon>{{name.email}}</span>
                    <span> <mat-icon>call</mat-icon>{{name.phoneNumber}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="products">
    <div class="add-product">
        <mat-icon routerLink="/add-product">add</mat-icon>
        <span routerLink="/add-product">add a product</span>
    </div>
    <div class="product-container" *ngFor=" let item of shopProducts">
        <button class="edit" routerLink="/update-product"><mat-icon>edit</mat-icon></button>
        <button class="delete" (click)="delete_Product(item)"><mat-icon>close</mat-icon></button>
        <app-product [shopProducts]="item" routerLink="/product-details/{{item.id}}"></app-product>
    </div>
</section>

<section class="main">
    <div class="right" id="settings">
        <div class="topform">
            <span>account settings</span>
            <hr>
            <form [formGroup]="editprofileForm">
                <label for="shopname">Shopname</label>
                <input type="text" formControlName="shopname" id="shopname" value="{{name.name}}">
                <label for="shopcategory">Shop Category</label>
                <input type="text" formControlName="shopcategory" id="shopcategory" value="{{name.shopCategory}}">
                <label for="email">Email Address</label>
                <input type="email" formControlName="email" id="email" value="{{name.email}}">
                <label for="address">Address</label>
                <input type="text" formControlName="address" id="address" value="{{name.address}}">
                <label for="number">Phone Number</label>
                <input type="number" formControlName="number" id="number" value="{{name.phoneNumber}}">
                <button [disabled]="editprofileForm.invalid" (click)="Submit_Changes()">save changes</button>
            </form>
        </div>
        <div class="bottomform">
            <span>change password</span>
            <hr>
            <form [formGroup]="changepassForm">
                <label for="currentPassword">Current Password</label>
                <input type="password" formControlName="currentPassword" id="currentPassword">
                <label for="pass">Password</label>
                <input type="password" formControlName="newpass" id="pass" placeholder="8+ Characters">
                <label for="confirmpass">Confirm Password</label>
                <input type="password" formControlName="confirmpass" id="confirmpass">
                <button
                    [disabled]="changepassForm.invalid || (changepassForm.value.newpass ==! changepassForm.value.confirmpass)"
                    (click)="Submit_pass()">change password
                </button>
            </form>
        </div>
        <div class="contact">
            <p>Feel free to reach out if you have any questions</p>
            <span><a routerLink="/about-us" fragment="contactus">Contact Us</a></span>
        </div>
    </div>
</section>
<app-footer></app-footer>