<app-header></app-header>
<div class="container">
    <form [formGroup]="loginForm">
        <div class="h1">
            <h1>Log In</h1>
        </div>
        <div class="inputs">
            <div class="radios" (change)="getRole($event)" formControlName="type">
                <input name="option" type="radio" value="user" id="User" class="input1 custom-radio ">
                <label for="User" class="label1">Private</label>
                <input name="option" type="radio" value="Shop" id="Shop" class="input2 custom-radio ">
                <label for="Shop" class="label2">Bussines</label>
            </div>
            <label for="email">Email Address</label>
            <input type="email" formControlName="email" id="email">
            <div class="small">
                <small *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.dirty">Email
                    Address is required</small>
            </div>
            <label for="pass">Password</label>
            <input type="password" formControlName="pass" id="pass">
            <div class="small">
                <small *ngIf="loginForm.get('pass')?.errors?.['required'] && loginForm.get('pass')?.dirty">Password is
                    required</small>
            </div>
            <button [disabled]="loginForm.invalid" (click)="Submit()" [ngStyle]="getButtonStyles()">Log
                In<mat-icon>arrow_forward</mat-icon></button>
            <div class="create">
                <span class="line-with-or">or</span>
                <button>new to clicon? <a routerLink="/signup">sign up</a></button>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>