<app-header></app-header>

<div class="landing">
    <div class="top">
        <div class="left">
            <h1>WHO <br> WE ARE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a sollicitudin tortor, ac egestas risus.
            </p>
            <button><a href="#shop-now">Shop Now</a></button>
        </div>

        <div class="right">
            <img src="../../../../assets/svg/undraw_add_to_cart_re_wrdo.svg" alt="">
        </div>
    </div>

    <div class="bottom">
        <figure>
            <mat-icon>support_agent</mat-icon>
            <figcaption>Online Support 24/7</figcaption>
        </figure>

        <figure>
            <mat-icon>local_shipping</mat-icon>
            <figcaption>Fasted Delivery</figcaption>
        </figure>

        <figure>
            <mat-icon>inventory_2</mat-icon>
            <figcaption>Guaranteed Products</figcaption>
        </figure>

        <figure>
            <mat-icon>storefront</mat-icon>
            <figcaption>your own store</figcaption>
        </figure>
    </div>
</div>

<div class="categories">
    <div class="title1">
        <span>Categories</span>
    </div>

    <div class="cards">
        <figure>
            <img src="../../../../assets/svg/undraw_engineering_team_a7n2.svg" alt="">
            <figcaption>bags</figcaption>
        </figure>

        <figure>
            <img src="../../../../assets/svg/undraw_engineering_team_a7n2.svg" alt="">
            <figcaption>perfumes</figcaption>
        </figure>

        <figure>
            <img src="../../../../assets/svg/undraw_engineering_team_a7n2.svg" alt="">
            <figcaption>accessories</figcaption>
        </figure>

        <figure>
            <img src="../../../../assets/svg/undraw_engineering_team_a7n2.svg" alt="">
            <figcaption>Electronics</figcaption>
        </figure>

        <figure>
            <img src="../../../../assets/svg/undraw_engineering_team_a7n2.svg" alt="">
            <figcaption>personal care</figcaption>
        </figure>

        <figure>
            <img src="../../../../assets/svg/undraw_engineering_team_a7n2.svg" alt="">
            <figcaption>Culture and Art</figcaption>
        </figure>
    </div>
</div>

<div class="products" id="shop-now">
    <div class="title">
        <span class="pro">products</span>
        <li class="bro" routerLink="/all-products">browse all products<mat-icon>arrow_forward</mat-icon></li>
    </div>
    <app-product></app-product>
</div>

<app-footer></app-footer>