<app-header></app-header>
<section class="landing">
    <div class="top">
        <div class="left">
            <h1>A new way to shop and sell your products</h1>
            <p>Seamlessly expand your online store, reach new customers, and increase sales with our expert services.
            </p>
            <button><a href="#shop-now">Shop Now</a></button>
        </div>
        <div class="right">
            <img src="../../../../assets/svg/undraw_add_to_cart_re_wrdo.svg" alt="">
        </div>
    </div>
    <div class="bottom">
        <figure>
            <mat-icon>support_agent</mat-icon>
            <figcaption>Online Support 24/7</figcaption>
        </figure>
        <figure>
            <mat-icon>local_shipping</mat-icon>
            <figcaption>Fasted Delivery</figcaption>
        </figure>
        <figure>
            <mat-icon>inventory_2</mat-icon>
            <figcaption>Guaranteed Products</figcaption>
        </figure>
        <figure>
            <mat-icon>storefront</mat-icon>
            <figcaption>your own store</figcaption>
        </figure>
    </div>
</section>
<section class="categories">
    <div class="title1">
        <span>Categories</span>
    </div>
    <div class="cards">
        <figure>
            <img src="../../../../assets/png/fashion-6896241_1280.png" alt="" class="img1">
            <figcaption routerLink="/all-products" class="span1">bags</figcaption>
        </figure>
        <figure>
            <img src="../../../../assets/png/collection-small-perfume-bottles-removebg-preview.png" alt="" class="img2">
            <figcaption routerLink="/all-products" class="span2">perfumes</figcaption>
        </figure>
        <figure>
            <img src="../../../../assets/png/pexels-the-glorious-studio-3584518-28985984-removebg-preview.png" alt=""
                class="img3">
            <figcaption routerLink="/all-products" class="span3">accessories</figcaption>
        </figure>
        <figure>
            <img src="../../../../assets/png/headphones-4434212_1280-removebg-preview.png" alt="" class="img4">
            <figcaption routerLink="/all-products" class="span4">Electronics</figcaption>
        </figure>
        <figure>
            <img src="../../../../assets/png/pexels-karolina-grabowska-4735904-removebg-preview.png" alt=""
                class="img5">
            <figcaption routerLink="/all-products" class="span5">personal care</figcaption>
        </figure>
        <figure>
            <img src="../../../../assets/png/3d-view-books-cartoon-style.png" alt="" class="img6">
            <figcaption routerLink="/all-products" class="span6">Culture and Art</figcaption>
        </figure>
    </div>
</section>
<div class="products" id="shop-now">
    <div class="title">
        <span class="pro">featured products</span>
        <a class="bro" routerLink="/all-products">browse all products<mat-icon>arrow_forward</mat-icon></a>
    </div>
    <div class="product-container">
        <app-product *ngFor="let item of feturedProducts" [product]="item"></app-product>
    </div>
</div>
<div class="shops" id="shops">
    <div class="title">
        <span class="pro">featured Shops</span>
        <a class="bro" routerLink="/all-shops">browse all Shops<mat-icon>arrow_forward</mat-icon></a>
    </div>
    <div class="shops-container">
        <app-shop-card *ngFor="let item of feturedShops" [shop]="item"></app-shop-card>
    </div>
</div>
<app-footer></app-footer>