.landing {
    display: grid;
    grid-template-rows: 500px 60px;
    margin-top: 100px;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.bottom figure img {
    width: 40px;
    height: 40px;
}

.bottom figure figcaption {
    color: var(--custom-black);
    font-size: 14px;
}

.top {
    display: grid;
    grid-template-columns: 462px 676px;
    column-gap: 50px;
    justify-content: center;
}

.landing .right {
    width: 664px;
    height: 462px;
}

.landing .right img {
    width: 664px;
    height: 462px;
}

.landing .left {
    width: 450px;
}

.landing .left p {
    color: var(--custom-black);
    height: 89px;
    width: 416px;
    font-size: 24px;
    line-height: 24px;
}

.landing .left h1 {
    color: var(--custom-black);
    font-size: 48px;
    line-height: 59px;
    font-weight: 900;
    height: 177px;
    width: 507px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-transform: uppercase;
}

.landing .left button {
    background-color: var(--pink);
    color: var(--custom-white);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 155px;
    height: 45px;
    padding: 5px;
    font-size: 24px;
}

.landing .left button a {
    text-decoration: none;
    color: white;
}

.categories {
    margin-top: 20px;
    margin-bottom: 50px;
}

.categories .title1 {
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 73px;
}

.categories .title1 span {
    color: var(--custom-black);
    text-transform: uppercase;
    padding: 15px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}

.categories .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.categories .cards figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--gray);
    border-radius: 20px;
    width: 197px;
    height: 236px;
}

.categories .cards figure .img1 {
    width: 185px;
    height: 211px;
}

.categories .cards figure .img2 {
    width: 163px;
    height: 219px;
}

.categories .cards figure .img3 {
    width: 197px;
    height: 236px;
}

.categories .cards figure .img4 {
    width: 172px;
    height: 200px;
}

.categories .cards figure .img5 {
    width: 185px;
    height: 211px;
}

.categories .cards figure .img6 {
    width: 197px;
    height: 236px;
}

.categories .cards figure figcaption {
    color: var(--custom-black);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    top: 30px;
}

.products {
    height: 650px;
    margin-top: 30px;
}

.products .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    height: 73px;
}

.products .title .pro {
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 50px;
}

.products .title .bro {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
    font-size: 24px;
    line-height: 34px;
    margin-right: 50px;
    font-weight: 700;

}