.img-container{
    border: var(--gray) 1px solid;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.img-container img{
    width: 180px;
    height: 180px;
    overflow: hidden;
    cursor: pointer;
}