.page-container {
    margin-top: 125px;
    margin-left: 85px;
    margin-bottom: 100px;
}

.page-container .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.categories label {
    color: var(--custom-black);
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
}

.categories select {
    text-align: center;
    border: none;
    color: var(--custom-white);
    text-transform: uppercase;
    font-size: 20px;
    background-color: var(--dark-maincolor);
    border-radius: 2px;
    height: 48px;
    width: 150px;
    cursor: pointer;
    font-weight: 700;
}

.categories select option {
    font-weight: 700;
}
