<app-header></app-header>
<div class="page-container">
    <div class="categories">
        <label>select products by Categories</label>
        <select (change)="filtercategory($event)">
            <option value="all" selected>All</option>
            <option value="{{option.name}}" *ngFor="let option of categories">{{option.name}}</option>
        </select>
    </div>
    <div class="container">
        <div *ngFor="let product of products">
            <app-product [product]="product" (item)="addtocart($event)"></app-product>
        </div>
    </div>
</div>
<app-footer></app-footer>
