<app-header></app-header>
<div class="page-container">
    <div class="categories">
        <label>select products by Categories</label>
        <select (change)="filtercategory($event)">
            <option value="all" selected>All</option>
            <option value="{{option}}" *ngFor="let option of categories">{{option}}</option>
        </select>
    </div>
    <div class="container">
        <div class="for" *ngFor=" let item of products">
            <app-product [products]="item" (item)="addtocart($event)"></app-product>
        </div>
    </div>
</div>
<app-footer></app-footer>