<!-- <app-add-product></app-add-product> -->
<!-- <app-update-product></app-update-product> -->
<!-- <app-edit-profile></app-edit-profile> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-cart-details></app-cart-details> -->
<!-- <app-profile></app-profile> -->
<!-- <app-all-products></app-all-products> -->
<!-- <app-client-details></app-client-details> -->
<!-- <app-product></app-product> -->
<!-- <app-about-us></app-about-us> -->
<!-- <app-shop-signup></app-shop-signup> -->
<!-- <app-signup></app-signup> -->
<!-- <app-login></app-login> -->
<!-- <app-footer></app-footer> -->
<!-- <app-contents></app-contents> -->
<!-- <app-header></app-header> -->
<router-outlet></router-outlet>

<!--  -->
<!-- <app-wishlist></app-wishlist> -->
<!-- <app-shop-card></app-shop-card> -->
<!-- <app-all-shops></app-all-shops> -->