<footer>
    <div class="container">
        <div class="left">
            <span class="title1" routerLink="/all-products">categories</span>
            <span routerLink="/all-products">bags</span>
            <span routerLink="/all-products">Perfumes</span>
            <span routerLink="/all-products">accessories</span>
            <span routerLink="/all-products">Electronics</span>
            <span routerLink="/all-products">personal care</span>
            <span routerLink="/all-products">Culture and Art</span>
        </div>
        <div class="center">
            <span class="title2">Other Links</span>
            <span routerLink="/about-us">About Us</span>
            <span><a routerLink="/about-us/contactus" fragment="contactus">contact us</a></span>
        </div>
        <div class="right">
            <span class="title3">connect with us</span>
            <span><mat-icon>mail</mat-icon>info&#64;clicon.com</span>
            <span><mat-icon>location_on</mat-icon>damascus-mazza</span>
            <span><mat-icon>schedule</mat-icon>24/7</span>
            <span><mat-icon>call</mat-icon>011-9491</span>
        </div>
    </div>
</footer>