<footer>
    <div class="container">
        <div class="left">
            <span class="title1" routerLink="">categories</span>
            <span routerLink="">bags</span>
            <span routerLink="">Perfumes</span>
            <span routerLink="">accessories</span>
            <span routerLink="">Electronics</span>
            <span routerLink="">personal care</span>
            <span routerLink="">Culture and Art</span>
        </div>
        <div class="center">
            <span class="title2">Other Links</span>
            <span routerLink="/about-us">About Us</span>
            <span><a routerLink="/about-us" fragment="contactus">contact us</a></span>
        </div>
        <div class="right">
            <span class="title3">connect with us</span>
            <span><mat-icon>mail</mat-icon>info&#64;clicon.com</span>
            <span><mat-icon>location_on</mat-icon>damascus-mazza</span>
            <span><mat-icon>schedule</mat-icon>24/7</span>
            <span><mat-icon>call</mat-icon>011-9491</span>
        </div>
    </div>
</footer>