.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--gray) solid 2px;
    border-radius: 10px;
    height: 320px;
    width: 234px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container .img-container {
    margin-top: 10px;
}

.container .img-container img {
    cursor: pointer;
    width: 202px;
    height: 172px;
}

.container .img-container span {
    color: var(--maincolor);
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 202px;
}

.container .details p {
    color: var(--custom-black);
    font-size: 14px;
    line-height: 20px;
    height: 40px;
}

.container .details span {
    color: var(--pink);
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    height: 20px;
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container .details button {
    background-color: var(--dark-maincolor);
    color: var(--custom-white);
    width: 234px;
    height: 50px;
    font-size: 12px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .details .number input {
    /* position: relative;
    bottom: 30px; */
    /* margin-left: 50px; */
    text-align: center;
    width: 75px;
    height: 25px;
    border: var(--gray) 2px solid;
    margin-bottom: 5px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: transparent;
}