<div class="container">
    <div class="img-container">
        <img [src]="'http://localhost:3000/' + product.picture" alt="" [routerLink]="['/product-details', product._id]">
        <span [routerLink]="['/profile', product.linkedShop]"><br>{{shopName}}</span>
    </div>
    <div class="details">
        <p [routerLink]="['/product-details', product._id]">{{product.name}}</p>
        <span>{{product.price}}</span>
        <button *ngIf="!addbutton" (click)="addbutton = true">Add to Cart</button>
        <div class="number" *ngIf="addbutton">
            <input type="number" [(ngModel)]="amount">
            <button (click)="add(); addbutton = false">Add</button>
        </div>
    </div>
</div>
