.main {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 50px;
    margin-top: 110px;
    margin-bottom: 80px;
    margin-left: 50px;
}

.main .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: var(--gray) 1px solid;
    border-radius: 4px;
    height: 192px;
    width: 264px;
    padding-left: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--custom-white);
}

.main .left nav ul {
    list-style: none;
}

.main .left nav ul li {
    color: #5F6C72;
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 15px;
    height: 40px;
    width: 239px;
    font-size: 14px;
    line-height: 20px;
}

.main .right .cart {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--custom-white);
    border: var(--gray) 1px solid;
    width: 872px;
    height: auto;
    border-radius: 4px;
}

.main .right .cart .h1 {
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    margin-left: 20px;
}

.main .right .cart .h1 h1 {
    color: var(--custom-black);
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.main .right .cart .title-bar {
    background-color: var(--gray);
    height: 38px;
    width: 100%;
}

.main .right .cart .title-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    height: 38px;
    width: 100%;
}

.main .right .cart .title-bar ul li {
    color: var(--dark-gray);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.main .right .cart .title-bar ul :first-child {
    margin-right: 300px;
}

.main .right .cart hr {
    border: var(--gray) 1px solid;
    margin-top: 25px;
    margin-bottom: 25px;
}

.main .right .cart .products {
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-top: 20px;
    column-gap: 10px;
}

.main .right .cart .products .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--mid-gray);
    height: 24px;
    width: 24px;
    margin-left: 20px;

}

.main .right .cart .products .img img {
    width: 72px;
    width: 72px;
}


.main .right .cart .products .quantity input {
    border: var(--gray) 1px solid;
    color: var(--dark-gray);
    background-color: transparent;
    text-align: center;
    border-radius: 3px;
    width: 148px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main .right .cart .products .quantity button {
    color: var(--custom-black);
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    width: 20px;
    height: 20px;
}

.main .right .cart .products .quantity .plus {
    left: 30px;
}

.main .right .cart .products .quantity .minus {
    right: 30px;
}

.main .right .cart .actions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.main .right .cart .actions button {
    border: 2px solid var(--pink);
    color: var(--pink);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    column-gap: 5px;
}

.main .right .cart .actions .back {
    width: 203px;
}

.main .right .totals {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--custom-white);
    border: var(--gray) 1px solid;
    height: 344px;
    width: 444px;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 4px;
}

.main .right .totals .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 424px;
    margin-left: 10px ;
}

.main .right .totals .container .sums ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 10px;
}

.main .right .totals .container .sums ul li {
    display: flex;
    justify-content: space-between;
    color: var(--dark-gray);
    font-size: 14px;
    line-height: 20px;
}

.main .right .totals .container .sums hr {
    border: var(--gray) 1px solid;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 384px;
}

.main .right .totals .h2 {
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
}

.main .right .totals .h2 h2 {
    color: var(--custom-black);
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-left: 20px;
}

.main .right .totals .container button {
    background-color: var(--dark-maincolor);
    color: var(--custom-white);
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    border: none;
    border-radius: 2px;
    line-height: 56px;
    font-weight: 700;
    margin-top: 25px;
    font-size: 16px;
    column-gap: 5px;
    height: 56px;
    width: 376px;
}

.main .right .totals .container .sums .total {
    color: var(--custom-black);
    padding-right: 333px;
    line-height: 24px;
    size: 16px;
    padding: 0;
}

.main .right .totals .container .sums .pay{
    margin-left: 255px;
}

.main .right .cart .products .title {
    width: 200px;
    margin-right: 100px;
}