.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container form {
    border: var(--gray) 1px solid;
    border-radius: 4px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 424px;
    height: 1210px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container form .spans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    width: 422px;
    height: 59px;
    margin-bottom: 20px;
}

.container form .spans:first-child {
    border-bottom: var(--pink) 3.5px solid;
}

.container form .spans span {
    color: var(--custom-black);
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
}

.container form .inputs {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    row-gap: 7px;
}

.container form .inputs .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-maincolor);
    color: var(--custom-white);
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 48px;
    border-radius: 2px;
    width: 360px;
    height: 48px;
    column-gap: 5px;
    margin-top: 10px;
}

input:not(input[type="file"]) {
    border: 1px solid var(--gray);
    border-radius: 2px;
    width: 360px;
    height: 44px;
    margin-bottom: 10px;
}

label {
    color: var(--custom-black);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

input::content{
    padding-left: 10px;
}

.small{
    display: flex;
    justify-content: center;
    align-items: center;
}

small{
    color: firebrick;
    margin-left: -30px;
}

.container .shop .inputs select{
    border: 1px solid var(--gray);
    width: 360px;
    height: 44px;
}


.container form .inputs .create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    margin-top: 20px ;
}

.container form .inputs .create button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: var(--gray) solid 1px;
    color: var(--custom-black);
    border-radius: 2px;
    line-height: 28px;
    text-transform: capitalize;
    width: 360px;
    height: 48px;
    column-gap: 5px;
}

.container form .inputs .create button a {
    color: var(--maincolor);
    font-weight: 900;
}

.container form .inputs .create span {
    
    color: #77878F;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.container .shop .inputs input[type="file"]{
    background-color: var(--gray);
    height: 170px;
    width: 250px;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -30px;
}

.container .shop .file-upload .custom-file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 44px;
    border: 2px solid var(--maincolor);
    background-color: transparent;
    color: var(--maincolor);
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 2px;
}

#file-input {
    border-radius: 10px;
    color: var(--gray);
}

input[type="file"]::file-selector-button {
    display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}